html {
    background-image: url('https://images.unsplash.com/photo-1551554781-c46200ea959d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80');
    font-family: 'Roboto Condensed', sans-serif;
}
h1 {

    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: white;
    text-shadow: 0 0 1rem goldenrod;
}
.piano {
    max-width: 666px;
    border: solid black 1px;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    position: relative;
    background-color: white;
    margin: 0 auto;
}

.key {
    width: 70px;
    height: 500px;
    border: solid black 2px;
    position: relative;
    z-index: 2;
    transition: all .07s ease;
    background-color: aliceblue;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.playing {
    transform: scale(.9);
    border-color: blue;
    box-shadow: 0 0 1rem blue;
}

.black {
    background-color: black;
    color: white;
    position: absolute;
    z-index: 3;
    width: 50px;
    height: 300px;
}

.key[data-key="87"] {
    left: 9%;
}

.key[data-key='69'] {
    left: 20%;
}

.key[data-key='82'] {
    left: 31%;
}

.key[data-key='89'] {
    left: 51%;
}

.key[data-key='85'] {
    left: 62.5%;
}

.key[data-key="79"] {
    left: 83%;
}

kbd {
    display: block;
    position: absolute;
    bottom: 7px;
    left: 10px;
    font-size: 20px;
}

footer {
    position: absolute;
    width: 100vw;
    bottom: 0px;
    background-color: white;
    text-align: center;
}
a {
    text-decoration: none;
    color: goldenrod;
}